@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    transition:0.5s;
}

body {
    background: #d3ccbc;
    color: #292429;
    font-family: "Poppins", sans-serif;
}

p {
    font-size: 1.5em;
}

a {   
    text-decoration: none;
}
a:hover {
    font-weight: bolder;
}

footer {
    margin-bottom:0;
    padding:2em;
}

.colora {
    color: #292429;
    background-color: #d3ccbc;
}
.colorb {
    color: #d3ccbc;
    background-color: black;
}
.colorc {
    color: #fb350d;
    background-color: black;
}



button {
    background-color: transparent;
}

#titlemain {
    margin-top:15%;
    margin-bottom:0;
    text-align: center;
}
.maintitle {
    font-size: 4em;
    font-weight: 700;
}

.maintitle:hover {
    cursor:default;
    color:#d3ccbc;
    text-shadow: -4px 4px 0 #292429;
}

#maincont, .contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.verticl {
    margin:0.8em;
}

.verticl, .verticl2, .verticl3, .verticl4, .verticl5, .diag1, .diag2, .diag3, .diag4, .semi1, .semi2, .semi3, .semi4 {
    background-color: #292429;
    width:2px;
  }

  .verticl, .verticl2, .verticl3, .verticl4, .verticl5, .semi2, .semi3 {
    height: 70px;
  }

.unfoldBtns {
    border-radius: 100%;
    border:3px solid #292429;   
    width:30px;
    height:auto;
    margin:0;
}

.unfoldBtns:hover {
    background-color: #292429;
    color: #d3ccbc;
}

#mainarea {
    display:none;
    padding:2%;
}

.contentdiv {
    display: flex;
    background-color: #292429;
    color:#d3ccbc;
    box-shadow: 0 0 3px #292429;
    border-radius: 2%;
    padding:5%;
    max-width:900px;
    flex-wrap: wrap;
}

.divtext {
    text-align: left;
    flex-basis: 50%;
    padding: 0.8em;
}

.imagewithfootnote {
    flex-basis: 50%;
}

.imgpic {
    width:100%;
    max-width: 500px;
    padding: 0.8em;
    display: inline-block;
}

.underpic {
    opacity:50%;
    font-style: italic;
    font-size: 0.8em;
    padding:0.5em;
    text-align: left;
}

.bunchoflinks {
    position:relative;
    margin:0 auto;
    padding: 0.8em;
    height:200px;
    max-width: 900px;

}


.verticl2, .verticl3, .verticl4, .verticl5, .diag1, .diag2, .diag3, .diag4, .semi1, .semi2, .semi3, .semi4 {
    position:absolute;
  }

  .verticl2 {
    left:35%;
  }

  .verticl3 {
    left: 45%;
  }
  .verticl4 {
    right: 45%;
  }

  .verticl5 {
    right:35%;
  }

.diag1, .diag2, .diag3, .diag4 {
    height:30px;
    bottom: 47.8%;
}

.diag1 {
    transform: rotate(60deg);
    left:33.5%;

}

.diag2 {
    transform: rotate(60deg);
    left:43.5%;
}

.diag3 {
    transform: rotate(120deg);
    right:43.5%;
}

.diag4 {
    transform: rotate(120deg);
    right:33.5%;
}

.semi2, .semi3 {
    bottom: 16%;
}

.semi1, .semi4 {
    bottom:32.2%;
    height:40px;
}

.semi1 {
    transform: rotate(20deg);
    left:31.2%;
}
.semi2 {
    left:42%;
}

.semi3 {
    right:42%;
}

.semi4 {
    transform: rotate(160deg);
    right:31.2%;
}

.bton1, .bton2, .bton3, .bton4 {
    position: absolute;
    color:#fb350d;
    border-radius: 100%;
    border:3px solid #fb350d;   
    width:30px;
    height:auto;
    margin:0;
}

.bton1:hover, .bton2:hover, .bton3:hover, .bton4:hover {
    background-color: #fb350d;
    color:#d3ccbc;
}

.bton1 {
    left:28%;
    bottom: 17%;
}

.bton2 {
    left: 40.2%;
    bottom:0%;
}

.bton3 {
    right:40.2%;
    bottom:0%;
}

.bton4 {
    right:28%;
    bottom: 17%;
}


footer {
    text-align: center;
    height:10%;
}

.fixedinbg {
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bgfixed1 {
    background-image: url(../files/opn2.png);
}
.bgfixed2 {
    background-image: url(../files/albums/albumbg2.png);
}
.bgfixed3 {
    background-image: url(../files/albums/albumbg.png);
}

.cfade {
    position:relative;
    padding: 2em;
    background-color:black;
    color:#d3ccbc;
    box-shadow: 0 -100px 100px black;
}

.cfade p      {
    font-size: 1.5em;
}

.headercontains {
    display: flex;
    position:absolute;
    top:-100px;
}

.headercontains .underpic {
    font-size: 1em;
}

.parentshrink {
    background-color: black;
    box-shadow: 0 -100px 100px black;
}

.snapsitems {
    
    max-width:950px;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    justify-content: center;
    padding: 1em;
    background-color: black;
    
}

.shopitem {
    width: 300px;
    padding:3em;
    color:#d3ccbc;
}
.shopitem:hover{
    background-color: #f7684b;
    color:black;
    transform:scale(1.1);

}

.shopitem img {
    width:100%;
    max-width: 200px;
}

.shoplink {
    font-size: 1em;
    font-style: italic;
    opacity: 50%;
}

.contline {
    padding:5% 5% 5% 0;
    height:300px;
    position:fixed;
    top:2px;
    left:0;
    width:100%;
    
    z-index: 5;
    
}

.lineformenu1 {
    background-color: #d3ccbc;

}
.lineformenu2 {
    background-color: #fb350d;
}
.lineformenu3 {
    background-color: black;
}

.hoverline1 {
    position:relative;
    width:120px;
    height: 5px;
    top:0;
}
.hoverline2 {
    position:relative;
    width:40px;
    height: 5px;
    top:12px;
    left:108px;
    transform:rotate(60deg);
}
.hoverline3 {
    position:relative;
    width:60px;
    height: 5px;
    top:24px;
    left:135px;
}

.divforbutton {
    position:relative;
    top:7px;
    left:205px;
}
.altbtns {
    border-radius: 100%;
    width:30px;
    height:auto;
    margin:0;
}
.altbtncl1{
    border:3px solid #d3ccbc;
    color:#d3ccbc;
}
.altbtncl2{
    border:3px solid #fb350d;
    color:#fb350d;
}
.altbtncl3{
    border:3px solid black;
    color:black;
}

.altbtncl1:hover {
    background-color: #d3ccbc;
    color:black;
}

.altbtncl2:hover {
    background-color: #fb350d;
    color:black;
}

.altbtncl1:hover {
    background-color: black;
    color:#d3ccbc;
}






.sidemenu {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s; 
  }
  .menu1 {
    background-color: #d3ccbc;
  }
  .menu2 {
    background-color: #fb350d;
  }
  
  .sidemenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #292429;
    display: block;
    transition: 0.3s;
  }
  
  .sidemenu a:hover {
    color: #292429;
    opacity: 50%;
  }


.slideshowcont {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:2em;
}

@media (max-width: 990px) {
.verticl2, .verticl3, .verticl4, .verticl5, .diag1, .diag2, .diag3, .diag4, .semi1, .semi2, .semi3, .semi4  {
    display: none;
}

.bton1, .bton2, .bton3, .bton4 {
    bottom: 17%;
}

.bton1 {
    left:28%;
    
}

.bton2 {
    left: 40.2%;
}

.bton3 {
    right:40.2%;
}

.bton4 {
    right:28%;
}

    
}